.App {
  text-align: center;
}

/* .App {
  display: flex;
  color: #000;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Game styles */
.game {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0.25rem auto;
}
.target {
  border: thin solid #999;
  width: 300px;
  height: 75px;
  font-size: 45px;
  text-align: center;
  display: inline-block;
  background-color: #ccc;
}
.challenge-numbers {
  width: 100%;
  margin: 1.5rem auto;
}
.number {
  border: thin solid lightgray;
  background-color: #eee;
  width: 40%;
  text-align: center;
  font-size: 36px;
  border-radius: 5px;
  margin: 1rem 5%;
  display: inline-block;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;  
}
.timer-value {
  color: darkgreen;
  font-size: 150%;
}